@charset "utf-8";
/* ==================================================

    * base

    CSS CONTENTS : 
    01. overflow
    02. ellipsis
    03. layer
    04. color
    05. scroll bar
    06. table
    07. list type
    08. button
    09. align
    10. radio, checkbox
    11. form
    12. input file custom
    13. captcha
    14. img
    15. spacing
    16. datepicker
    17. block, inline-block
    18. font
    19. show, hide
    
================================================== */
/* overflow */
html.ovh,
body.ovh{
    overflow: hidden;
}

/* ellipsis */
.ellipsis,
.ellipsis2,
.ellipsis3,
.ellipsis4,
.ellipsis5{
	overflow: hidden;
	display: block;
	display: -webkit-inline-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
    word-break: break-all;
}
.ellipsis{
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
}
.ellipsis2{
	-webkit-line-clamp: 2;
}
.ellipsis3{
	-webkit-line-clamp: 3;
}
.ellipsis4{
	-webkit-line-clamp: 4;
}
.ellipsis5{
	-webkit-line-clamp: 5;
}
.ellipsis6{
	-webkit-line-clamp: 6;
}
.ellipsis7{
	-webkit-line-clamp: 7;
}
.ellipsis8{
	-webkit-line-clamp: 8;
}
.ellipsis9{
	-webkit-line-clamp: 9;
}
.ellipsis10{
	-webkit-line-clamp: 10;
}

/* layer */
.inner-layer{
    max-width: 1300px;
    margin: 0 auto;
}

/* color */
.required{
    color: #d22c2c !important;
}
.text-red{
    color: #dc2525 !important;
}
.text-blue{
    color: #144393 !important;
}
.text-skyblue{
    color: #0082d4 !important;
}
.link,
.link *,
.link:hover,
.link:active,
.link:focus{
    color: #3c84ff !important;
    text-decoration: underline;
}

.highlights{
    position: relative;
    z-index: 1;
    padding-bottom: 1px;
}
.highlights:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 18px;
}

.bg-gray{
    background-color: #eef3fc;
}

/* scroll bar */
.scroll-y::-webkit-scrollbar{
    width: 12px;
}
.scroll-y::-webkit-scrollbar-thumb{
    background-color: #5f5f5f;
}
.scroll-y::-webkit-scrollbar-track{
    background-color: #f4f4f4;
}

/* table */
.table-wrap{
    border-top: 2px solid #144393;
}
.table-wrap + .table-wrap{
    margin-top: 65px;
}
.cst-table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}
.cst-table th,
.cst-table td{
    padding: 15px;    
    border: 1px solid #b3c0d7;
    font-size: 1.7rem;
    line-height: 1.3;
    color: #111;
    text-align: center;
    vertical-align: middle;
}
.cst-table th:first-child,
.cst-table td:first-child{
    border-left: 0;
}
.cst-table th:last-child,
.cst-table td:last-child{
    border-right: 0;
}
.cst-table .text-left{
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}
.cst-table th{
    background-color: #f1f6fd;
    font-weight: 600;
    font-size: 1.8rem;
    color: #144393;
}
.cst-table thead tr:last-child th,
.cst-table thead tr:last-child td{
    border-bottom: 0;
}

.cst-table.list-table th,
.cst-table.list-table td{
    padding: 12px 15px;
    border-left: 0;
    border-right: 0;
    border-color: #e2e2e2;
}
.cst-table.list-table th{
    background-color: #eff5ff;
}
.cst-table tfoot td,
.cst-table tfoot th{
    background-color: #feffef !important;
}

/* list type */
.list-type > li{
    position: relative;
}
.list-type > li:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 0;
    left: 0;
}
.list-type-decimal{
    margin-left: 20px;
}
.list-type-decimal > li{
    list-style: decimal;
}
.list-type-bar > li{
    padding-left: 15px;
}
.list-type-bar > li:before{
    top: 10px;
    width: 6px;
    height: 1px;
    background-color: #111;
}
.list-type-bar > li.text-red:before{
    background-color: #dc2525 ;
}
.list-type-dot > li{
    padding-left: 15px;
}
.list-type-dot > li:before{
    top: 12px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #111;
}
.list-type-text > li span,
.list-type-text > li span + div{
    display: inline-block;
    vertical-align: top;
}
.list-type-text > li span{
    width: 20px;
}
.list-type-text > li span + div{
    width: calc(100% - 25px);
}

/* button */
.btn-wrap{
    position: relative;
    margin-top: 50px;
}
.btn-wrap .btn-type1{
    margin: 4px;
}
.btn{
    display: inline-block;
    vertical-align: top;
    border: 1px solid transparent;
}
.btn.btn-type1{
    display: inline-block;
    min-width: 225px;
    padding: 14px 20px;
    margin: 4px;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.07em;
    text-align: center;
}
.btn-type1 .arrow{
    display: inline-block;
    margin-top: -4px;
    margin-left: 45px;
    vertical-align: middle;
}
.btn-type1 img:last-child{
    margin-left: 15px;
}

.btn.btn-type2{
    margin: 4px;
    border-radius: 0;
}
.btn-type2 .arrow{
    margin-top: -3px;
    margin-left: 15px;
}

.btn.btn-small{
    padding: 5px 25px;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 600;
}
.btn.btn-small:has(.arrow){
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}
.btn-small .arrow{
    display: inline-block;
    margin-top: -3px;
    margin-left: 20px;
    vertical-align: middle;
}


.btn.color-type1{
    background-color: #e96300;
    border-color: #e96300;
    color: #fff;
}
.btn.color-type2{
    background-color: #24467f;
    border-color: #24467f;
    color: #fff;
}
.btn.color-type3{
    background-color: #556278;
    border-color: #556278;
    color: #fff;
}
.btn.color-type4{
    background-color: #929292;
    border-color: #929292;
    color: #fff;
}
.btn.color-type5{
    background-color: #1bacc9;
    border-color: #1bacc9;
    color: #fff;
}
.btn.color-type6{
    background-color: #009f3b;
    border-color: #009f3b;
    color: #fff;
}
.btn-line.color-type1{
    background-color: #fff;
    border: 1px solid #e96300;
    color: #e96300;
}
.btn-line.color-type2{
    background-color: #fff;
    border: 1px solid #24467f;
    color: #24467f;
}
.btn-line.color-type3{
    background-color: #fff;
    border: 1px solid #556278;
    color: #556278;
}
.btn-line.color-type4{
    background-color: #fff;
    border: 1px solid #929292;
    color: #929292;
}
.btn-line.color-type5{
    background-color: #fff;
    border: 1px solid #1bacc9;
    color: #1bacc9;
}
.btn-line.color-type6{
    background-color: #fff;
    border: 1px solid #009f3b;
    color: #009f3b;
}

/* align */
.text-left{
    text-align: left !important;
}
.text-center{
    text-align: center !important;
}
.text-right{
    text-align: right !important;
}
.full-left{
    float: left !important;
}
.full-right{
    float: right !important;
}

/* radio, checkbox */
.radio-wrap,
.checkbox-wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
}
.radio-wrap.full,
.checkbox-wrap.full{
    flex-direction: column;
    align-items: start;
}
.radio-wrap.text-center,
.checkbox-wrap.text-center{
    justify-content: center;
}
.radio-group:has(input:disabled),
.radio-group input[type="radio"]:disabled,
.checkbox-group:has(input:disabled),
.checkbox-group input[type="checkbox"]:disabled{
    opacity: 0.3;
}
.radio-group,
.checkbox-group{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}
.radio-group input[type="radio"],
.checkbox-group input[type="checkbox"]{
    margin-left: -28px;
}
.cst .radio-group input[type="radio"],
.cst .checkbox-group input[type="checkbox"]{
    appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid #e5e5e5;
    margin-top: -5px;
    margin-right: 12px;
    border-radius: 100%;
    vertical-align: middle;
    transition: 0.3s ease;
    cursor: pointer;
}
.cst .checkbox-group input[type="checkbox"]{
    border-radius: 2px;
    border-color: #e5e5e5;
    background-repeat: no-repeat;
    background-position: center;
}
.cst .radio-group input[type="radio"]:checked{
    border-color: #20366f;
}
.cst .radio-group input[type="radio"]:checked:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #20366f;
}
.cst .checkbox-group input[type="checkbox"]:checked{
    border-color: #20366f;
}
.cst .checkbox-group input[type="checkbox"]:checked:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 1px;
    left: 2px;
    border-right: 2px solid #20366f;
    border-bottom: 2px solid #20366f;
    height: 70%;
    width: 30%;
    transform: rotate(50deg) translateY(-20%) translateX(-10%);
}

.write-wrap .radio-wrap .form-item,
.write-wrap .checkbox-wrap .form-item{
    flex: 0 0 auto;
    width: auto;
}

/* form */
.write-form-wrap form,
.write-form-wrap fieldset{
    min-width: 0;
}
.write-form-wrap .btn-type1{
    min-width: 115px;
}
.write-wrap{
    width: 100%;
    border-top: 2px solid #144393;
}
.write-wrap + .write-wrap{
    margin-top: 40px;
}
.write-tit{
    background-color: #144393;
    padding: 10px 25px;
    font-size: 1.8rem;
    color: #fff;
}
.write-wrap > li{
    display: table;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    table-layout: fixed;
}
.write-wrap > li > div{
    display: table-cell;
    padding: 10px 25px;
    word-break: keep-all;
    vertical-align: middle;
}
.write-wrap .form-tit{
    width: 20%;
    background-color: #eff5ff;
    font-size: 1.8rem;
    font-weight: 600;
    color: #144393;
}
.write-wrap .form-con{
    width: 80%;
    font-size: 1.6rem;
    background-color: #fff;
}
.write-wrap .form-con:has(.write-wrap){
    padding: 0;
}
.write-wrap .form-con .write-wrap{
    border-top: 0;
}
.write-wrap .form-con .write-wrap > li{
    border-left: 1px solid #e2e2e2;
}
.write-wrap .form-con .write-wrap > li:last-child{
    border-bottom: 0;
}
.write-wrap .n2 .form-tit{
    width: 20%;
    text-align: center;
}
.write-wrap .n2 .form-con{
    width: 30%;
}
.write-wrap .form-item{
    width: 100%;
}
.form-item{
    display: inline-block;
    max-width: 100%;
    height: 36px;
    padding: 0 10px;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    background-color: #fff;
    vertical-align: middle;
}
textarea.form-item{
    height: auto;
    padding: 10px;
}
.form-item::placeholder{
    color: #c4c4c4;
}

.form-item.small{
    width: 100%;
    max-width: 200px;
}
.form-item.medium{
    width: 40%;
}

.form-group[class*="n"],
.form-group-text{
    display: flex;
    gap: 10px;
    align-items: center;
}
.form-group-text .text{
    flex: 0 0 auto;
}
.form-group-text:has(.text-wrap) .text{
    height: 100%;
    padding: 5px 0;
    margin-top: auto;
}
.form-group-text .text-wrap{
    width: 50%;
    height: 100%;
}
.form-group-text .text-wrap p{
    margin-bottom: 5px;
}
.form-group .form-group-text{
    width: 100%;
    max-width: 50%;
}

/* captcha */
.captcha *{
    display: inline-block;
    vertical-align: middle;
}
.captcha .img{
    display: inline-block;
    margin: 2px 0;
    height: 40px;
    border: 1px solid #e2e2e2;
}
.captcha .img img{
    height: 100%;
}
.captcha .form-item{
    width: auto;
    max-width: 200px;
    margin: 2px 0;
}

/* input file custom */
.filebox{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.filebox .upload-name{
    width: calc(100% - 125px);
}
.filebox label{
    width: 115px;
    padding: 8px 0;
    color: #fff;
    background-color: #556278;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.4;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.filebox .attach-file{
    flex: 1 1 auto;
    width: 100%;
}
.filebox + *{
    display: inline-block;
    vertical-align: middle;
}
.attach-file .file_del{
    display: inline-block;
    margin-top: -3px;
    margin-left: 5px;
    vertical-align: middle;
}

/* img */
.img-wrap img{
    max-width: 100%;
}

/* spacing */
.w-10p{
    width: 10% !important;
}
.w-20p{
    width: 20% !important;
}
.w-30p{
    width: 30% !important;
}
.w-40p{
    width: 40% !important;
}
.w-50p{
    width: 50% !important;
}
.w-60p{
    width: 60% !important;
}
.w-70p{
    width: 70% !important;
}
.w-80p{
    width: 80% !important;
}
.w-90p{
    width: 90% !important;
}
.w-100p{
    width: 100% !important;
}

.p-0{
    padding: 0 !important;
}
.pl-10{
    padding-left: 10px !important;
}
.pl-20{
    padding-left: 20px !important;
}
.pl-30{
    padding-left: 30px !important;
}
.pl-40{
    padding-left: 40px !important;
}
.pl-50{
    padding-left: 50px !important;
}

.pr-0{
    padding-left: 0 !important;
}
.pr-10{
    padding-left: 10px !important;
}
.pr-20{
    padding-left: 20px !important;
}
.pr-30{
    padding-left: 30px !important;
}
.pr-40{
    padding-left: 40px !important;
}
.pr-50{
    padding-left: 50px !important;
}

.mt-0{
    margin-top: 0 !important;
}
.mt-5{
    margin-top: 5px !important;
}
.mt-10{
    margin-top: 10px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.mt-30{
    margin-top: 30px !important;
}
.mt-40{
    margin-top: 40px !important;
}
.mt-50{
    margin-top: 40px !important;
}

.mb-0{
    margin-bottom: 0 !important;
}
.mb-5{
    margin-bottom: 5px !important;
}
.mb-10{
    margin-bottom: 10px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.mb-30{
    margin-bottom: 30px !important;
}
.mb-40{
    margin-bottom: 40px !important;
}
.mb-50{
    margin-bottom: 50px !important;
}

.ml-0{
    margin-left: 0 !important;
}
.ml-5{
    margin-left: 5px !important;
}
.ml-10{
    margin-left: 10px !important;
}
.ml-20{
    margin-left: 20px !important;
}
.ml-30{
    margin-left: 30px !important;
}
.ml-40{
    margin-left: 40px !important;
}
.ml-50{
    margin-left: 40px !important;
}

.mr-0{
    margin-right: 0 !important;
}
.mr-5{
    margin-right: 5px !important;
}
.mr-10{
    margin-right: 10px !important;
}
.mr-20{
    margin-right: 20px !important;
}
.mr-30{
    margin-right: 30px !important;
}
.mr-40{
    margin-right: 40px !important;
}
.mr-50{
    margin-right: 40px !important;
}

/* date picker */
.ui-datepicker{
    font-size: 14px;
}
.ui-datepicker .ui-datepicker-title select{
    margin: 1px;
}

/* block, inline-block */
.d-block{
    display: block;
}

.no-br{
    display: none;
}
.m-br{
    display: none;
}

/* font */
.fw-500{
    font-weight: 500;
}

/* show / hide */
.t-show{
    display: none !important;
}
.m-show{
    display: none !important;
}