@charset "utf-8";
/* ==================================================

    * main
    
================================================== */
.main .gnb {
    display: none;
}
.main #container{
    margin-top: 100px;
    background-repeat: no-repeat;
    background-size: 1920px auto;
    background-position: center top;
    background-image: url('../image/main/bg_container.png');
}

#section1 {
    padding-top: 80px;
    padding-bottom: 80px;
}
#section1 h2 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
    color: #06086c;
}
#section1 h2 span{
    font-weight: 600;
    color: #005bc5;
}


#section2 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
}
#section2 > div {
    padding: 25px;
    background-color: #fff;
    border-radius: 5px 30px 30px;
    box-shadow: 0 0 10px 0 rgba(0, 26, 99, 0.2);
}
#section2 .main-slide {
    flex-shrink: 0;
    width: 600px;
}
.main-slide-con .con-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.main-slide-con .img-wrap {
    overflow: hidden;
    flex-shrink: 0;
    width: 200px;
    border-radius: 5px 30px 30px;
}
.main-slide-con .text-wrap{
    padding-right: 10px;
}
.main-slide-con .text-wrap h3{
    margin-bottom: 30px;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2;
}
.main-slide-con .text-wrap p {
    font-size: 1.8rem;
}

.main-slide .slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}
.main-slide .slick-dots,
.main-slide .slick-dots li {
    height: 10px;
    padding: 0;
}
.main-slide .slick-dots button{
    width: 10px;
    height: 10px;
    background-color: #aaaaaa;
    border-radius: 5px;
    text-indent: -9999px;
    transition: 0.3s ease;
}
.main-slide .slick-dots .slick-active button {
    width: 30px;
    background-color: #003173;
}

#section2 .quick-menu {
    width: 100%;
    background-color: rgba(240, 246, 254, 0.65);
}
#section2 .quick-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}
#section2 .quick-menu ul li {
    width: 100%;
}
#section2 .quick-menu ul a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff;
}
#section2 .quick-menu ul a:hover{
    box-shadow: 0 0 10px 0 rgba(31, 36, 50, 0.5);
}
#section2 .quick-menu ul .icon {
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#section2 .quick-menu ul.col2 a {
    height: 200px;
    padding: 30px 20px 20px;
    border-radius: 15px;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    background-size: cover;
    background-position: right top;
    transition: 0.3s ease;
}
#section2 .quick-menu ul.col2 .icon {
    width: 50px;
    height: 50px;
    background-image: url('../image/main/ico_quick_arrow01.png');
}

#section2 .quick-menu ul.col2 li:nth-of-type(1) a {
    background-image: url('../image/main/bg_quick01.png');
}
#section2 .quick-menu ul.col2 li:nth-of-type(2) a {
    background-image: url('../image/main/bg_quick02.png');
}
#section2 .quick-menu ul.col2 li:nth-of-type(1) a:hover {
    border: 2px solid #ec1b23;
}
#section2 .quick-menu ul.col2 li:nth-of-type(2) a:hover {
    border: 2px solid #019f3b;
}

#section2 .quick-menu ul.col3 {
    margin-top: 30px;
}
#section2 .quick-menu ul.col3 a {
    height: 126px;
    padding: 15px 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    transition: 0.3s ease;
}
#section2 .quick-menu ul.col3 .icon {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-image: url('../image/main/ico_quick_arrow02.png');
}

#section2 .quick-menu ul.col3 a:hover {
    background-image: linear-gradient(to top, #0065ba, #1c81d7);
    color: #fff;
}
#section2 .quick-menu ul.col3 a:hover .icon {
    background-image: url('../image/main/ico_quick_arrow02_on.png');
}