@charset "utf-8";
/* ==================================================

    * layout
    
================================================== */
#dim{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

/* header */
#header{
    width: 100%;
}
.header-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sns-menu{
    display: flex;
    gap: 10px;
    position: absolute;
    left: 0;
}
.sns-menu li > a{
    display: block;
    width: 40px;
    height: 40px;
}
.sns-menu li > a img{
    width: 100%;
}
.header-logo{
    display: inline-block;
    vertical-align: middle;
}
.header-logo > a{
    display: block;
}
.header-logo a img{
    max-width: 100%;
}
.util-menu{
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    right: 0;
}
.util-menu li > a{
    display: block;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1.5rem;
    color: #fff;
}
.util-menu .lang a{
    background-color: #1398c3;
}
.util-menu .login a{
    background-color: #0776d4;
}
.util-menu .signup a{
    background-color: #003c8d;
}
.util-menu .admin a{
    background-color: #7f44c1;
}
#gnb{
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
#gnb .sns-menu{
    display: none;
}
.gnb-wrap{
    display: flex;
    justify-content: space-between;
}
.gnb{
    display: flex;
    width: calc(100% - 70px);
}
.gnb > li{
    display: block;
    flex: 1;
    position: relative;
    height: 60px;
}
.gnb > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-weight: 500;
    transition: 0.3s ease;
}
.gnb > li > ul{
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    text-align: center;
}
.gnb > li > ul:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background-color: #003172;
    transition: 0.3s ease;
}
.gnb > li:hover > a{
    font-weight: 700;
    color: #003172;
}
.gnb > li:hover > ul:before{
    width: 100%;
}
.gnb > li > ul > li > a{
    display: block;
    padding: 15px 10px;
    font-size: 1.8rem;
    letter-spacing: -0.04em;
    line-height: 1.3;
    word-break: keep-all;
    transition: 0.3s ease;
}
.gnb > li > ul > li:hover > a{
    background-color: #f2f4f8;
}
.btn-allmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 60px;
    background-color: #fff;
}
.btn-allmenu span{
    display: block;
    width: 30px;
    height: 3px;
    margin: 3px 0;
    background-color: #000000;
    transition: 0.2s ease;
}
.btn-allmenu:hover span:nth-child(2){
    width: 20px;
    margin-left: 10px;
}
.m-gnb-header{
    display: none;
}
.btn-menu-open,
.btn-menu-close{
    display: none;
}

/* 전체 메뉴 */
#allmenu{
    overflow-y: auto;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.allmenu-wrap{
    overflow: hidden;
    position: relative;
    width: 96%;
    margin: 5vh auto;
    border-radius: 20px;
    padding: 50px 5%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url('../image/common/bg_allmenu.png');
    background-size: cover;
}
.allmenu-wrap .tit{
    padding: 0 40px;
    margin-bottom: 35px;
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: -0.04em;
    text-align: center;
}
.btn-allmenu-close{
    position: absolute;
    top: 50px;
    right: 5%;
    width: 40px;
    height: 40px;
    border: 1px solid #003172;
    border-radius: 8px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../image/common/ic_allmenu_close.png');
}
.allmenu-wrap > ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.allmenu-wrap > ul > li{
    width: calc((100% - 120px)/5);
    text-align: center;
}
.allmenu-wrap > ul > li > a{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 14px 15px;
    border-radius: 50px;
    background-color: #003172;
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
}
.allmenu-wrap > ul > li > ul{
    padding-top: 40px;
    padding-bottom: 15px;
    margin-top: -25px;
    border-radius: 0 0 25px 25px;
    transition: background 0.3s ease;
}
.allmenu-wrap > ul > li > ul > li > a{
    display: block;
    padding: 10px 15px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.3;
    word-break: keep-all;
    transition: background 0.3s ease;
}
.allmenu-wrap > ul > li:hover > a{
    background: linear-gradient(to right, #1d78dd, #054dac);
}
.allmenu-wrap > ul > li:hover > ul{
    background-color: #fff;
    background-color: rgba(255,255,255,0.8);
}

/* sponsor */
.sponsor-wrap{
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid #eeeeee;
}
.sponsor-rolling-wrap a{
    display: block;
    margin: 0 10px;
    text-align: center;
}
.sponsor-rolling-wrap a img{
    display: inline-block;
    max-width: 100%;
    border: 1px solid #cfd1d2;
    vertical-align: middle;
}
.sponsor-rolling-wrap .slick-list{
    margin: 0 40px;
}
.sponsor-rolling-wrap .slick-arrow{
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 30px;
    height: 100%;
    background-repeat: no-repeat;
    text-indent: -9999em;
}
.sponsor-rolling-wrap .slick-prev{
    left: 0;
    background-image: url('../image/main/ic_slick_prev.png');
    background-position: 0 center;
}
.sponsor-rolling-wrap .slick-next{
    right: 0;
    background-image: url('../image/main/ic_slick_next.png');
    background-position: right center;
}

/* footer */
.btn-top{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    right: calc((100%  - 1500px)/2);
    bottom: 220px;
    z-index: 10;
    width: 80px;
    height: 80px;
    background: radial-gradient(circle at center, #0182c8 0%,#103f93 100%);
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    letter-spacing: -0.04em;
    text-align: center;
    transition: 0.3s ease;
}
.btn-top img{
    display: block;
    margin: 0 auto 5px;
    animation: move-top 0.7s linear infinite;
}
@keyframes move-top{
    0%{
        opacity: 0;
        transform: translateY(3px);
    }
    100%{
        opacity: 1;
        transform: translateY(-3px);
    }
}
.btn-top.on{
    opacity: 1;
    visibility: visible;
}
#footer{
    background-color: #38404b;
    letter-spacing: -0.04em;
}
#footer *{
    letter-spacing: -0.04em;
}
.footer-wrap{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    color: #6b727b;
}
.footer-wrap a{
    color: #6b727b;
}
.footer-menu{
    display: flex;
    flex: 0 0 auto;
    gap: 20px;
}
.footer-menu li > a{
    display: block;
    padding: 15px 20px;
    background-color: #2c343f;
    border-radius: 3px;
    font-size: 1.5rem;
    color: #777f8a;
    text-align: center;
}
.footer-con ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 25px;
}
.footer-con li > strong{
    font-weight: 500;
    color: #979ea7;
}
.footer-con .wide{
    flex: 0 0 auto;
    width: 100%;
}
#footer .copy{
    padding: 15px;
    background-color: #29323e;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #c3c8d9;
}



/* ==================================================

    * responsive
    
================================================== */
@media screen and (max-width: 1300px){
    /* header */
    .sns-menu{
        left: 15px;
    }
    .util-menu{
        gap: 7px;
        right: 15px;
    }
    .util-menu li > a{
        padding: 8px 16px;
        font-size: 13px;
    }

    /* 전체 메뉴 */
    .allmenu-wrap.inner-layer{
        padding-left: 5%;
        padding-right: 5%;
    }

    /* sponsor */
    .sponsor-wrap .slick-prev{
        left: 15px;
    }
    .sponsor-wrap .slick-next{
        right: 15px;
    }

    /* footer */
    .btn-top{
        right: 2%;
    }
}

@media screen and (max-width: 1024px){
    /* header */
    .header-wrap{
        justify-content: start;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header-logo{
        width: 200px;
    }
    .header-wrap .sns-menu,
    .header-wrap .util-menu{
        display: none;
    }
    .btn-menu-open{
        position: absolute;
        right: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
    }
    .btn-menu-open span{
        display: block;
        width: 30px;
        height: 3px;
        margin: 3px 0;
        background-color: #000000;
        transition: 0.2s ease;
    }
    .btn-menu-open:hover span:nth-child(2){
        width: 20px;
        margin-left: 10px;
    }
    .btn-allmenu{
        display: none;
    }
    #gnb{
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 80%;
        height: 100vh;
        padding: 15px;
        background-color: #fff;
    }
    .m-gnb-header{
        display: block;
        padding-bottom: 15px;
        border-bottom: 2px solid #003173;
    }
    .m-gnb-header .util-menu{
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        position: static;
    }
    .m-gnb-header .util-menu > li > a{
        display: inline-block;
        padding: 10px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle;
    }

    /* 전체 메뉴 */
    .allmenu-wrap{
        padding: 50px 30px;
    }
    .allmenu-wrap > ul > li{
        width: calc((100% - 60px)/3);
    }
    .gnb-wrap{
        overflow-y: auto;
        display: block;
        max-height: 75%;
        padding: 0;
    }
    .gnb-wrap.inner-layer{
        padding: 0;
    }
    .gnb{
        flex-direction: column;
        width: 100%;
    }
    .gnb > li{
        flex: inherit;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #cccccc;
    }
    .gnb > li > a{
        font-size: 18px;
    }
    .gnb > li > a span{
        display: inline-block;
        position: relative;
        padding: 15px 25px;
        vertical-align: top;
    }
    .gnb > li > a span:before{
        display: block;
        content: '';
        clear: both;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 4px;
        background-color: #003173;
        transition: 0.3s ease;;
    }
    .gnb > li:hover > a,
    .gnb > li.on > a{
        font-weight: 600;
        color: #003173;
    }
    .gnb > li:hover a span:before,
    .gnb > li.on a span:before{
        width: 100%;
    }
    .gnb > li > ul{
        position: static;
        padding: 7px 0;
        border-top: 1px solid #cccccc;
    }
    .gnb > li > ul:before{
        display: none;
    }
    .gnb > li > ul > li > a{
        padding: 7px 15px;
        font-size: 16px;
    }
    .gnb > li > ul > li:hover > a{
        background: none;
    }
    #gnb .sns-menu{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 5px;
        position: absolute;
        right: 15px;
        bottom: 25px;
    }
    #gnb .sns-menu > li > a{
        width: 35px;
        height: 35px;
    }
    #gnb .sns-menu .lang > a{
        display: inline-block;
        width: auto;
        height: auto;
        padding: 10px;
        background-color: #1398c3;
        border-radius: 50px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        vertical-align: middle;
    }
    .btn-menu-close{
        display: block;
        position: absolute;
        top: 20px;
        right: calc(100% + 15px);
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../image/common/ic_menu_close.png');
        background-size: 26px;
    }

    /* footer */
    .btn-top{
        width: 60px;
        height: 60px;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 768px){
    /* header */
    .header-logo{
        width: 135px;
    }
    .btn-menu-open{
        width: 30px;
        height: 30px;
    }
    .btn-menu-open span{
        width: 23px;
        margin: 2.5px 0;
    }
    .btn-menu-open:hover span:nth-child(2){
        width: 23px;
        margin-left: 0;
    }
    
    /* 전체 메뉴 */
    .allmenu-wrap{
        max-width: 94%;
        padding: 30px 20px;
        border-radius: 10px;
    }
    .allmenu-wrap.inner-layer{
        padding-left: 20px;
        padding-right: 20px;
    }
    .allmenu-wrap .tit{
        margin-bottom: 20px;
        font-size: 20px;
    }
    .allmenu-wrap > ul{
        gap: 15px;
    }
    .allmenu-wrap > ul > li{
        width: calc((100% - 15px)/2);
    }
    .allmenu-wrap > ul > li > a{
        padding: 10px 15px;
        font-size: 16px;
    }
    .allmenu-wrap > ul > li > ul{
        padding-top: 28px;
        margin-top: -18px;
        padding-bottom: 10px;
        border-radius: 0 0 10px 10px;
    }
    .allmenu-wrap > ul > li > ul > li > a{
        padding: 7px 15px;
        font-size: 14px;
    }
    .btn-allmenu-close{
        top: 25px;
        right: 20px;
        width: 30px;
        height: 30px;
        background-size: 14px;
    }

    /* sponsor */
    .sponsor-wrap{
        padding: 10px 0;
    }
    .sponsor-rolling-wrap a{
        margin: 0 5px;
    }
    .sponsor-rolling-wrap .slick-list{
        margin: 0 20px;
    }
    .sponsor-rolling-wrap .slick-arrow{
        width: 20px;
        background-size: 8px;
    }

    /* footer */
    .btn-top{
        width: 45px;
        height: 45px;
        font-size: 12px;
    }
    .btn-top span{
        font-size: 12px;
    }
    .btn-top img{
        width: 12px;
        margin-bottom: 2px;
    }
    .footer-wrap{
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 12px;
    }
    .footer-menu{
        justify-content: center;
        gap: 10px;
    }
    .footer-menu li > a{
        padding: 6px 10px;
        font-size: 12px;
    }
    .footer-con{
        margin-top: 15px;
    }
    .footer-con ul{
        gap: 7px 2 0px;
    }
    #footer .copy{
        padding: 15px;
        font-size: 12px;
    }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
    .gnb-wrap{
        overflow-y: auto;
		height: calc(100% - 120px);
		padding-bottom: 150px;
	}
}